@import '../../common.less';

:host {
    background-color: @color-blue-500;
    .desktop({
        padding: 40px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        > div {
            width: 100%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
        }
    });
    .mobile({
        padding: 32px 16px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: center;
        gap: 32px;
    });

    span, a {
        text-align: justify;
        .font-primary;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: @color-white;
    }

    .right {
        .desktop({
            flex: 0 0 auto;
        });
        display: flex;
        flex-flow: column;
        gap: 32px;    
        .org {
            display: flex;
            flex-flow: column;
            gap: 16px;    
        }
    }

    .left {
        .desktop({
            margin-inline-start: auto;
            flex: 0 1 auto;                
        });
        display: flex;
        flex-flow: column;
        gap: 80px;
        // align-items: flex-end;

        span {
            display: inline;
            width: auto;
        }
    }

    .eu {
        .desktop({
            max-width: 50%;
        });
        .mobile({
            justify-content: center;
        });
        text-align: center;
        color: @color-white;
        .font-primary;
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 32px;

        span {
            flex: 1 1 auto;
        }
        .img {
            width: 200px;
            height: 100px;
            .background-image;
            flex: 0 0 auto;
            
            &.eu-funded {
                background-image: url(../../assets/img/eu-funded.png);
            }

            &.ngi-search {
                background-image: url(../../assets/img/ngi-search.png);
            }
        }
    }
}