<div>
    <div class='right'>
        <div class='org'>
            <a class='wti-logo' href='https://whiletrue.industries' target='_blank'></a>
            <span>While True Industries is a data consultancy with years of experience working with open data in the government and charity sectors.</span>
            <a class='more' href='https://whiletrue.industries' target='_blank'>Learn more &gt;</a>    
        </div>
    </div>
    <div class='left'>
            <span class='copyright'>© 2024 While True Industries</span>
    </div>    
</div>
<div class='eu'>
    <span>
        Funded by the European Union. Views and opinions expressed are however those of the author(s) only and do not necessarily reflect those of the European Union or European Commission. Neither the European Union nor the granting authority can be held responsible for them.
        <br/><br/>
        Funded within the framework of the NGI Search project under grant agreement No 101069364.    
    </span>
    <div class='img eu-funded'></div>
    <div class='img ngi-search'></div>
</div>
