<app-header></app-header>
<div class='title-slide'>
    <div class='title'>Open Data Deep Search</div>
    <div class='subtitle'>A new way to make your public datasets <em>actually</em> usable.</div>
    <a class='joinus' href='#join-us'>Learn More</a>
</div>
<!-- <div class='partners'>
    <a href='#' class='moep'></a>
    <a href='#' class='ilgbc'></a>
    <a href='#' class='nec'></a>
    <a href='#' class='moag'></a>
</div> -->
<div class='goal-slide' id='about'>
    <div class='decision'>
        <span class='quote'>"The task of making data meaningful and useful to ordinary citizens who can benefit from it is not easy...<br/>There is more to designing open data than just making it searchable, discoverable, available, and presenting it attractively"</span>
        <span class='source'>(<a href='https://doi.org/10.1787/9789264305847-en' target="_blank">OECD (2018), Open Government Data Report</a>)</span>
    </div>

    <div class='para right'>
        <label>The Problem</label>
        <span>Open data portals are a valuable resource, providing access to a wide range of datasets. However, many users are unaware of these portals, and even when they are found, the search functions are often inadequate. Additionally, search engines do not typically crawl these portals or index the datasets within them. As a result, these portals and their valuable data remain largely hidden from the public. </span>
    </div>

    <div class='para left'>
        <label>Introducing ODDS</label>
        <span>a groundbreaking method designed to unlock the full potential of open data and make it more user-friendly and accessible.

</span>
    </div>
</div>
<div class='explainers'>
    <div class='explainer' id='treeid'>
        <div class='content'>
            <div class='para kind3'>
                <div class='title'>How do fix open data search?</div>
                <div class='subtitle'>ODDS introduces a novel approach to making data more accessible, searchable, and user-friendly. By leveraging Large Language Models, it enables users to pose questions directly and conducts searches across any portal where it is installed. This eliminates the need for lengthy downloads and complex analyses. Instead, ODDS performs in-dataset searches to help users locate the information they need. If the desired data isn't available, it recommends alternative datasets that might be relevant. 
                </div>
            </div>
            <div class='process'>
                <div class='step step1'>
                    <span>Scan Open Data Catalogues and Websites</span>
                </div>
                <div class='arrow'>
                </div>
                <div class='step step2'>
                    <span>Process, Analyze and Index the datasets</span>                    
                </div>
                <div class='arrow'>
                    
                </div>
                <div class='step step3'>
                    <span>Use an AI interface to answer complex user questions</span>
                </div>
            </div>
        </div>
    </div>
    <div class='explainer right' id='status'>
        <div class='photo kind2'></div>
        <div class='content'>
            <div class='title'>Who is it for?</div>
            <div class='subtitle'>some sub text</div>
            <div class='para kind4'>
                <ul>
                    <li>
                        <strong>Data publishers</strong>
                        <ul>
                            <li>Make data available to users in seconds.</li> 
                            <li>ODDS can help you better understand your data quality, what's on your portal, and how to improve it.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Data users</strong>
                        <ul>
                            <li>Get insights and information quicker, whether you're a data novice or an expert.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='explainer' id='app'>
        <div class='content'>
            <div class='title'>How can I get involved?</div>
            <div class='para kind2'>
                ODDS is currently in a prototyping phase. We are looking for partners to help us make ODDS better. There are two ways that you can get involved:
                <ul>
                    <li><strong>Data publishers:</strong> We are looking for data publishers who want to partner with us and have ODDS on their portal. In return for user testing sessions, we will offer ODDS for free. If you are interested, please drop us an email.</li>
                    <li><strong>Data users:</strong> We are also looking for data users to join our "Visioning a New Data Spring" 2-hour workshop. This workshop will help us understand the needs of our users. If you would like to join, please sign up here.</li>
                </ul>
                <a class='link-button' href='#join-us' target="_blank">Contact Us!</a>
            </div>
        </div>
        <div class='photo kind3'></div>
    </div>
</div>
<div class='join-us' id='join-us'>
    <div class='section'>
        <div class='title'>רשויות מקומיות, הצטרפו אלינו!</div>
        <div class='subtitle'>צרפו את המידע שלכם למאגר העצים הלאומי וקבלו נתונים עשירים וכלים מתקדמים לתכנון, ניהול ותחזוק היער העירוני.</div>
        <div class='form'>
            <iframe src='https://form.jotform.com/230195952121047' frameborder='0' scrolling='no' allowtransparency='true' allowfullscreen='true' style='width: 100%; height: 450px;'></iframe>
        </div>    
    </div>
    <!-- <div class='section'>
        <div class='munis'>
            רשויות מקומיות שהצטרפו
            <div class='muni-logos'>
                <img *ngFor='let i of muniLogos' [src]='"assets/img/logos/" + i + ".png"' />
            </div>
        </div>
    </div> -->
</div>
<div class='data-slide'>
    <div class='title'>דאטה לא<br/>גדל על העצים</div>
    <div class='subtitle'>מוזמנים לגשת לנתונים בממשק מפתחים (API) ולהוריד קבצים וטבלאות  לשימוש חופשי. תשתית הנתונים שלנו פתוחה ומתבססת על רשות פורטלי מידע עירוניים של <a href='https://www.datacity.org.il/' target="_blank">Data City</a>. </div>
    <a class='link-button' href='https://opentreebase.datacity.org.il/' target="_blank">להורדת המידע</a>
</div>
<app-footer></app-footer>