<app-header></app-header>
<div class='title-slide'>
    <div class='title'>Open Data Deep Search</div>
    <div class='subtitle'>A new way to make your public datasets <em>actually</em> usable.</div>
    <a class='joinus' href='#join-us'>Learn More</a>
</div>
<!-- <div class='partners'>
    <a href='#' class='moep'></a>
    <a href='#' class='ilgbc'></a>
    <a href='#' class='nec'></a>
    <a href='#' class='moag'></a>
</div> -->
<div class='goal-slide' id='about'>
    <div class='decision'>
        <span class='quote'>"The task of making data meaningful and useful to ordinary citizens who can benefit from it is not easy..."</span>
        <span class='source'>(<a href='https://doi.org/10.1787/9789264305847-en' target="_blank">OECD (2018), Open Government Data Report</a>)</span>
    </div>

    <div class='para right'>
        <label>The Promise</label>
        <span>Open Data Portals are valuable resources with a vision to promote transparency, accountability, and innovation.<br/>
        </span>
    </div>

    <div class='para left'>
        <label>The Problem</label>
        <span><strong>No one can find the data!</strong></strong><br/> 
        Many users are unaware of these portals, and their search functions are often inadequate.
        </span>
    </div>
</div>
<div class='explainers'>
    <div class='explainer' id='odds'>
        <div class='content'>
            <div class='para kind3'>
                <div class='title'>Introducing ODDS - fixing open data search!</div>
                <div class='subtitle'>
                    ODDS is a groundbreaking method designed to unlock the full potential of open data and make it more user-friendly and accessible.<br/>
                    By leveraging Large Language Models, it enables users to pose questions directly and conducts searches across any portal where it is installed. This eliminates the need for lengthy downloads and complex analyses. Instead, ODDS performs in-dataset searches to help users locate the information they need. If the desired data isn't available, it recommends alternative datasets that might be relevant. 
                </div>
            </div>
            <div class='process'>
                <div class='step step1'>
                    <img src='/img/icon-scan-blue-400.svg' />
                    <span>Scan Open Data Catalogues and Websites</span>
                </div>
                <div class='arrow'>
                </div>
                <div class='step step2'>
                    <img src='/img/icon-analyze-blue-400.svg' />
                    <span>Process, Analyze and Index the datasets</span>                    
                </div>
                <div class='arrow'>
                    
                </div>
                <div class='step step3'>
                    <img src='/img/icon-ai-blue-400.svg' />
                    <span>Use an AI interface to answer complex user questions</span>
                </div>
            </div>
        </div>
    </div>
    <div class='explainer right' id='purpose'>
        <div class='photo kind2'></div>
        <div class='content'>
            <div class='title'>Who is it for?</div>
            <div class='subtitle'>some sub text</div>
            <div class='para kind4'>
                <ul>
                    <li>
                        <strong>Data publishers</strong>
                        <ul>
                            <li>Make data available to users in seconds.</li> 
                            <li>ODDS can help you better understand your data quality, what's on your portal, and how to improve it.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>Data users</strong>
                        <ul>
                            <li>Get insights and information quicker, whether you're a data novice or an expert.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class='explainer' id='get-involved'>
        <div class='content'>
            <div class='title'>How can I get involved?</div>
            <div class='para kind2'>
                ODDS is currently in a prototyping phase. We are looking for partners to help us make ODDS better. There are two ways that you can get involved:
                <ul>
                    <li><strong>Data publishers:</strong> We are looking for data publishers who want to partner with us and have ODDS on their portal. In return for user testing sessions, we will offer ODDS for free. If you are interested, please drop us an email.</li>
                    <li><strong>Data users:</strong> We are also looking for data users to join our "Visioning a New Data Spring" 2-hour workshop. This workshop will help us understand the needs of our users. If you would like to join, please sign up here.</li>
                </ul>
                <a class='link-button' href='#join-us' target="_blank">Contact Us!</a>
            </div>
        </div>
        <div class='photo kind3'></div>
    </div>
</div>
<div class='join-us' id='join-us'>
    <div class='section'>
        <div class='title'>Interested in learning more?</div>
        <div class='subtitle'>We're currently looking for design partners and cooperation opportunities. Send us a message and we'll set up a call!</div>
        <div class='form'>
            <iframe class="airtable-embed" src="https://airtable.com/embed/appiH70bpOHObfquJ/pagCyAKXXvMEaX8yy/form" frameborder="0" onmousewheel="" width="100%" height="735" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>    
    </div>
    <!-- <div class='section'>
        <div class='munis'>
            רשויות מקומיות שהצטרפו
            <div class='muni-logos'>
                <img *ngFor='let i of muniLogos' [src]='"assets/img/logos/" + i + ".png"' />
            </div>
        </div>
    </div> -->
</div>
<div class='data-slide'>
    <div class='title'>Interactive Demo</div>
    <div class='subtitle'>You can try out the capabilities of our system with a demo site build for Camden Council. </div>
    <a class='link-button' href='https://ask-camden.whiletrue.industries/' target="_blank">Access Demo Site</a>
</div>
<app-footer></app-footer>
