<div class='menu-button layout-mobile' (click)='active = true'></div>
<!-- <div class='logo'></div> -->
<div class='links layout-desktop'>
    <a href='#about'>About</a>
    <a href='#odds'>What is ODDS?</a>
    <a href='#purpose'>Purpose</a>
    <a href='#get-involved'>Get Involved</a>
    <a href='#join-us'>Join Us!</a>
</div>
<!-- <a class='pkw layout-desktop' href='https://www.hasadna.org.il/' target='_blank'></a> -->
<div class='menu layout-mobile' [class.active]='active' (click)='active=false; true'>
    <a href='#about'>About</a>
    <a href='#odds'>What is ODDS?</a>
    <a href='#purpose'>Purpose</a>
    <a href='#get-involved'>Get Involved</a>
    <a href='#join-us'>Join Us!</a>
    <div class='close'></div>
</div>
